.modalSanPham {
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 12, 12, 0.075);
    position: relative;
}

.box-modal {
    width: 50%;
    height: 60%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(50, 158, 153, 0.253);
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.box-modal .box-modal-img {
    width: 60%;
    height: 90%;
    margin-right: 30px;
    position: relative;
    box-shadow: 0 10px 10px rgba(15, 199, 190);
    border-radius: 10px;
}

.box-modal-img img {
    width: 100%;
    height: 100%;
    border: 1px solid #f7f1f1;
    border-radius: 10px;
}

.box-modal-img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(211, 131, 131, 0.05);
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    border: 3px double #1ba73a;
}

.descriptionModal {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.description1 {
    width: 90%;
    height: auto;
    padding: 30px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(235, 227, 227);
    box-shadow: 5px 5px 5px rgba(248, 226, 226, 0.4);
    margin: 3px 5px;
}

.ThanhToan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ThanhToan input {
    width: 50%;
    height: 35px;
    background-color: #ffff;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

.close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: -10px;
    cursor: pointer;
}